@charset "utf-8"

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Update Bulma's global variables
$family-sans-serif: "Jost", sans-serif;
$footer-padding: 1.0rem 2.5rem;

html
    scroll-behavior: smooth;

body
    display: flex;
    flex-direction: column;
    min-height: 100vh;


body[theme="dark"]
    filter: invert(1) hue-rotate(180deg);


section
    flex: 1;


img[theme="dark"],
picture[theme="dark"],
pre[theme="dark"],
video[theme="dark"]
    filter: invert(1) hue-rotate(180deg);


.vimeo[theme="dark"],
.youtube[theme="dark"],
.chart[theme="dark"]
    filter: invert(1) hue-rotate(180deg);

.sc_align_center
    text-align: center;

.sc_poem_font
    font-style: italic;

.box
    flex: 1;

.box-l
    width: 50%;
    float: left;

.box-r
    width: 50%;
    float: right;

.archive
    padding-top: 50px;
    padding-inline: 20%;

.center-text
    text-align: center;

.year-space
    padding-left: 10%;

.list-space
    padding-left: 15%;
    padding-bottom: 40px;

.list-space-date
    width: 20%;
    float: left;

.list-space-title
    width: 80%;
    float: left;

.color-beige
    color: #c97529;
