{% extends "index.html" %} {% block content %}

<section class="archive">
	<h1 class="title is-2 center-text">Archives</h1>

	<div class="box-l">
		<h2 class="subtitle is-4 center-text">Posts</h2>

		{% set section = get_section(path="posts/_index.md") %} {% for year, posts
		in section.pages | sort(attribute="date") | reverse |
		group_by(attribute="year") %}

		<h2 class="subtitle is-4 year-space">{{ year }}</h2>

		<ul>
			{% for post in posts %}
			<li class="list-space">
				<time class="list-space-date">
					{{ post.date | date(format="%d-%h") }}
				</time>
				<a class="list-space-title" href="{{ post.permalink }}">
					{{ post.title }}
				</a>
			</li>
			{% endfor %}
		</ul>
		{% endfor %}
	</div>

	<!--  -->

	<div class="box-r">
		<h2 class="subtitle is-4 center-text">Docs</h2>

		{% set section = get_section(path="docs/_index.md") %} {% for year, docs in
		section.pages | sort(attribute="date") | reverse |
		group_by(attribute="year") %}

		<h2 class="subtitle is-4 year-space">{{ year }}</h2>

		<ul>
			{% for doc in docs %}
			<li class="list-space">
				<time class="list-space-date">
					{{ doc.date | date(format="%d-%h") }}
				</time>
				<a class="list-space-title" href="{{ doc.permalink }}">
					{{ doc.title }}
				</a>
			</li>
			{% endfor %}
		</ul>

		{% endfor %}
	</div>
</section>
{% endblock content %}
